* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

.App {
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

header > div {
  display: flex;
  gap: 20px;
}

.video-container {
  display: flex;
  flex-direction: column;
  max-width: 307.33px;
  gap: 10px;
}

.thumbnail-container {
  position: relative;
}

.video-runtime {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  padding: 2px 5px;
  font-size: 0.64rem;
  font-weight: bold;
  border-radius: 15%;
  bottom: 10px;
  right: 8px;
}

.thumbnail {
  border-radius: 1ch;
}

.video-bottom {
  display: flex;
  align-items: start;
  gap: 10px;
}

.video-bottom > img {
  width: 30px;
}

.video-title {
  font-size: 0.85375rem;
  margin-bottom: 3px;
  font-weight: 500;
  max-height: 36.5px;
  overflow: hidden;
}

.channel {
  display: flex;
  gap: 5px;
}

.channel-name,
.views {
  font-size: 0.746875rem;
  color: #606060;
}

main {
  display: flex;
  align-items: start;
  gap: 20px;
}

.video-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.left-nav {
  position: sticky;
}
.channel-image {
  border-radius: 50%;
}
